pandas==0.23.0
sklearn==0.19.1
flask==1.0.2
numpy==1.14.3
re==2.2.1
scipy==1.1.0
filelock==3.0.4
json==2.0.9
requests==2.18.4
pickle
io
hashlib
pyjarowinkler
itertools
string
operator
os
nltk.stem.snowball